<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a mat-button style="font-size: larger;">CQRS</a></span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <a mat-button *ngIf="!authService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
        <a mat-button *ngIf="authService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a>
        <a mat-button *ngIf="authService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a>
        <a mat-button *ngIf="authService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
    </mat-toolbar-row>
</mat-toolbar>