<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="employee.userName" name="userName" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input type="password" matInput placeholder="Password" [(ngModel)]="employee.passWord" name="passWord" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nickname" [(ngModel)]="employee.nickName" name="nickName" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Employee Id" [(ngModel)]="employee.employeeId" name="employeeId" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="createEmployee()" color="primary">Create</button>
    </mat-card-actions>
</mat-card>