<table mat-table [dataSource]="employees" class="mat-elevation-z8">
    <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef> Emplyee Id </th>
        <td mat-cell *matCellDef="let employee"> {{employee.employeeId}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let employee"> {{employee.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let employee"><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>